; engine default config (core systems setup)
; use this to override some engine low-level specifics

[engine]
log_to_out = 1
log_to_out_level = "Info"
log_to_file = 1
log_to_file_level = "Info"
log_to_console = 1
log_to_console_level = "Info"

[task_manager]
workers = 4

[window]
title = "Wmoge game"
width = 1280
height = 720
vsync = 1
exit = 1
icon_default = "root://icons/wmoge-128.png"
icon_small = "root://icons/wmoge-64.png"

[gfx]
driver = vulkan
dyn_vert_chunk_size = 65536
dyn_index_chunk_size = 65536
dyn_uniform_chunk_size = 65536

[gfx.vulkan]
shader_cache = "cache://shaders_vk.cache"
pipeline_cache = "cache://pipelines_vk.cache"
desc_pool_max_images = 8192
desc_pool_max_ub = 8192
desc_pool_max_sb = 8192
desc_pool_max_sets = 2048

[render.aux]
font = "res://fonts/consolas"

[ecs]
chunk_size = 16
expand_size = 2

[debug]
profiler = 1

[debug.console]
font = "res://fonts/anonymous_pro"
color_back = "000000ee"
color_line = "060606be"
color_text = "efefefff"
color_input = "43fc3eff"
color_warning = "ffea00ff"
color_error = "ff0000ff"
color_suggestion = "0ff3ffff"
color_cursor = "f0f0f0ff"
speed_open = 6.0
speed_blink = 1.0
blink_threshold = 0.6
size = 0.4
text_size = 14.0
line_size = 21.0
cursor_width = 7.0
cursor_height = 15.0
text_line = 7.0
margin = 3.0
margin_line = 14.0