# IDE files
/.idea

# python cache files
/**/__pycache__

# build files
/build-Debug
/build-Release
/build-RelWitdDebInfo
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo

# logs, caches and debug data
template/logs
template/debug
template/cache
template/.wgengine

# logs, caches and debug data
games/flappyowl/logs
games/flappyowl/debug
games/flappyowl/cache
games/flappyowl/.wgengine
